# Logs
logs
*.log
*.log.*

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.history/

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html
node_modules

# Generated documentation
/docs

# Compiled JavaScript
/dist
